<div class="widget-wrap" style="margin-bottom:-20px">
  <h3 style="margin-top:-5px;margin-bottom:5px;">
    <a href="https://lzlz000.github.io">
      <img src="/lzlz000-个人主页-brightgreen.svg" height="25">
    </a>
  </h3>
  <div class="widget">
    <div><%- config.blackboard %></div>
    <br>
    Email   <a href="mailto:lzlz0x000@gmail.com">
      lzlz0x000@gmail.com
    </a>
    <br>
    Github  <a href="https://github.com/lzlz000">
      github.com/lzlz000
    </a>
  </div>
</div>